@{
    ViewData["Title"] = "About";
}
<div id="spaceskills"></div>
<!-- skills -->
<main>
    <div id="skills" class="intro">Skills</div>
    <div class="card-group">
        <div class="card">
            <img class="card-img-top" src="~/img/html5css3.png" alt="HTML5">
            <div class="card-body">
                <h5 class="card-title">HTML/CSS</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="~/img/javascriptlogo.png" alt="JavaScript" width="125" height="150">
            <div class="card-body">
                <h5 class="card-title">JavaScript</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="~/img/CSharplogo.png" alt="CSharp">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
        </div>
    </div>
    <div class="card-group">
        <div class="card">
            <img class="card-img-top" src="~/img/db.png" alt="Databases">
            <div class="card-body">
                <h5 class="card-title">Databases</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
    <!-- /skills -->
</main>
<!-- Experience -->
<!-- /experience -->
<div id="spacestudies"></div>
<!-- School -->
<main>
    <div id="studies" class="intro">Study Programs</div>
    <div class="card-group">
        <div class="card">
            <img class="card-img-top" src="~/img/TTA.jpg" alt="TTA">
            <div class="card-body">
                <h5 class="card-title">The Tech Academy</h5>
                <ul class="list-unstyled">
                    <li>September 2017 - January 2018</li>
                    <li>HTML/CSS</li>
                    <li>Database & SQL</li>
                    <li>JavaScript</li>
                    <li>C# & ASP.NET</li>
                </ul>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="~/img/FreeCodeCampCover.png" alt="FFC">
            <div class="card-body">
                <h5 class="card-title">FreeCodeCamp</h5>
                <ul class="list-unstyled">
                    <li>May 2017 - August 2017</li>
                    <li>HTML/CSS</li>
                    <li>JavaScript</li>
                </ul>
            </div>
        </div>
    </div>

</main>
<!-- /School -->
