@{
    ViewData["Title"] = "Home Page";
}

<main>
    <div class="intro">Hello, I'm Dylan!</div>
    <div class="tagline">Full-Stack Dev | .Net | JavaScript | Gamer | CoyFilly0</div>
    <!-- Find your icons from here - https://fontawesome.com/icons?d=gallery&s=brands -->
    <div class="icons-social">
        <a target="_blank" href="https://github.com/leedy15"><i class="fab fa-github"></i></a>
        <a target="_blank" href="https://twitter.com/CoyFilly0"><i class="fab fa-twitter"></i></a>
        <a target="_blank" href="https://facebook.com/CoyFilly0"><i class="fab fa-facebook"></i></a>
        <a target="_blank" href="https://instagram.com/leedy15"><i class="fab fa-instagram"></i></a>
        <a target="_blank" href="https://www.linkedin.com/in/leedy15"><i class="fab fa-linkedin"></i></a>
        <a target="_blank" href="https://www.freecodecamp.org/coyfilly0"><i class="fab fa-free-code-camp"></i></a>
    </div>
</main>


<script>$(document).ready(function() {
    $("a").on('click', function(event) {
        if (this.hash !== "") {
            event.preventDefault();
            var hash = this.hash;
            $('html, body').animate({
                scrollTop: $(hash).offset().top
            }, 800, function() {
                window.location.hash = hash;
            });
        }
    });
});

$(document).ready(function() {
            $('.dropdown').hover(
                function() {
                    $(this).children('.dropdown-menu').slideToggle(200);
                },
            );
});</script>







